@import "../../styles/colors.scss";

#tables-container {
  height: 100%;
  width: 100%;
  background-color: $color6;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  overflow: scroll;
}

@media screen and (max-width: 600px) {
  #tables-container {
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    
  }
}
