#tables-container {
  height: 100%;
  width: 100%;
  background-color: #F7F7F5;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  overflow: scroll;
  align-items: center; }

.loading-icon {
  height: 100px;
  width: 100px;
  background-color: inherit; }

@media screen and (max-width: 600px) {
  #tables-container {
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start; } }
