@import "../../styles/colors.scss";

.table-card {
  width: 25%;
  height:25%;
  background-color: $color5;
  margin: 50px 1px 50px 1px;
  flex-basis: auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 37px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 37px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 37px 5px rgba(0,0,0,0.75);
  background: linear-gradient(0deg, $color1, $color3 50%, $color1);
}

.table-card-top {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-card-bottom {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-card-table-number {
  margin: 0;
  color: $color5;
  width: 50%;
  height: 50%;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}

a.open-check-button-link-tag {
  height: 30%;
  width: 50%;
}

.open-check-button {
  height: 100%;
  width: 100%;
  background-color: $color4;
  border: 0px;
  color: $color6;
  font-size: 1em;
}

.open-check-button:focus {
  outline: none;
}

.open-check-button:hover {
  background-color: $color5;
  cursor: pointer;
  color: $color1;
}

.open-check-warning {
  margin: 0;
  font-size: 2em;
  color: red;
}

@media screen and (max-width: 1200px) {
  .open-check-button {
    font-size: 0.9em;
  }

  a.open-check-button-link-tag {
    height: 30%;
    width: 60%;
  }

  .table-card-table-number {
    font-size: 1.5em;
  }

  .open-check-warning {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 900px) {

  .open-check-warning {
    font-size: 0.8em;
  }

  .open-check-button {
    font-size: 0.6em;
  }

  a.open-check-button-link-tag {
    height: 30%;
    width: 60%;
  }

  .table-card-table-number {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 600px) {

  .open-check-warning {
    font-size: 1.3em;
  }

  .table-card {
    width: 60%;
    height: 40%;
    margin: 20px 0px;
  }

  .table-card-table-number {
    font-size: 1.7em;
  }

  .open-check-button {
    font-size: 0.9em;
  }
}


@media screen and (max-width: 500px) {
  .table-card {
    width: 70%;
  }

  .open-check-warning {
    font-size: 1.0em;
  }
}
