.title-table {
  width: 100%;
  height: 5%;
  text-align: center;
  margin: 0;
  font-size: 3em;
  font-weight: lighter;
  padding-top: 10px;
  color: #b3cde0; }

.open-check-title {
  padding-top: 10px;
  width: 100%;
  height: 5%;
  text-align: center;
  margin: 0;
  font-size: 2em;
  font-weight: lighter;
  color: #b3cde0; }

.items-container {
  height: 70%;
  width: 100%;
  display: flex; }

.ordered-items {
  width: 50%;
  height: 100%; }

.items-list {
  width: 50%;
  height: 100%;
  border-left: 1px solid #011f4b; }

.opencheck-card {
  width: 90%;
  height: 90%;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-box-shadow: 0px 10px 37px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 37px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 37px 5px rgba(0, 0, 0, 0.75);
  background: linear-gradient(0deg, #011f4b, #005b96 50%, #011f4b);
  padding: 30px 0px; }

.oitems-title {
  margin: 0 auto;
  width: 80%;
  height: 5%;
  text-align: center;
  border-bottom: 1px solid #011f4b;
  font-size: 1.5em; }

.items-list-styles {
  list-style: none;
  width: 100%;
  margin: 20px 0px 20px 0px;
  font-size: 1.5em;
  color: #F7F7F5; }

.items-ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column; }

.added-items {
  height: 85%;
  overflow: scroll; }

.menu-items {
  height: 85%;
  overflow: scroll; }

.list-buttons {
  float: right;
  width: 20%;
  height: 28px;
  border: 0;
  background-color: #6497b1;
  color: #F7F7F5; }

.list-buttons:disabled {
  background-color: red;
  color: #F7F7F5; }

.list-buttons:disabled:hover {
  background-color: red;
  color: #6497b1;
  cursor: not-allowed; }

.list-buttons:hover {
  background-color: #F7F7F5;
  cursor: pointer;
  color: #011f4b; }

.list-buttons:focus {
  outline: none; }

.red {
  color: red; }

.ls-span {
  margin-left: 10px; }

.customer-total {
  height: 10%;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
  color: #F7F7F5; }

.close-check-button-container {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.save-check-button {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  margin: 10px auto;
  background-color: #6497b1;
  border: 0px;
  color: #F7F7F5; }

.save-check-button:hover {
  background-color: #F7F7F5;
  cursor: pointer;
  color: #011f4b; }

.save-check-button:focus {
  outline: none; }

.close-check-button {
  height: 35%;
  width: 25%;
  font-size: 1.5em;
  background-color: #6497b1;
  border: 0px;
  color: #F7F7F5; }

.close-check-button:hover {
  background-color: #F7F7F5;
  cursor: pointer;
  color: #011f4b; }

.close-check-button:focus {
  outline: none; }

.close-check-button:disabled {
  background-color: red;
  color: #6497b1; }

.close-check-button:disabled:hover {
  background-color: red;
  color: #6497b1;
  cursor: not-allowed; }

a.save-button-link {
  height: 35%;
  width: 25%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; }

@media screen and (max-width: 1350px) {
  .items-list-styles {
    font-size: 1em; }
  .list-buttons {
    width: 20%;
    height: 25px;
    font-size: 0.5em; }
  a.save-button-link {
    height: 25%;
    width: 25%; }
  .save-check-button {
    font-size: 1em; }
  .close-check-button {
    height: 25%;
    width: 25%;
    font-size: 1em;
    background-color: #6497b1;
    border: 0px;
    color: #F7F7F5; }
  .customer-total {
    font-size: 1.5em; }
  .title-table {
    font-size: 2.5em; }
  .open-check-title {
    font-size: 1.5em; } }

@media screen and (max-width: 1150px) {
  .items-ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: block; }
  .items-list-styles {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 5px 0px 25px 0px;
    height: 20%; }
  .list-buttons {
    width: 35%;
    height: 25px;
    font-size: 0.5em;
    margin-top: 10px; }
  a.save-button-link {
    height: 25%;
    width: 40%; }
  .close-check-button {
    height: 25%;
    width: 40%;
    font-size: 1em; }
  .customer-total {
    font-size: 1.1em; } }

@media screen and (max-width: 900px) {
  .title-table {
    font-size: 2em; }
  .open-check-title {
    font-size: 1.3em; }
  .oitems-title {
    font-size: 1em; } }

@media screen and (max-width: 500px) {
  .customer-total {
    font-size: 0.8em; }
  .list-buttons {
    width: 50%;
    height: 25px;
    font-size: 0.5em;
    margin-top: 10px; }
  .items-list-styles {
    font-size: 0.7em;
    text-align: center; }
  .close-check-button {
    font-size: 0.7em; }
  .save-check-button {
    font-size: 0.7em; } }
