@import "../../styles/colors.scss";

#homescreen-container {
  height: 100%;
  width: 100%;
  background-color: blue;
  display: flex;
}

#sidebar-container {
  background-color: $color2;
  width: 20%;
  height: 100%;
  #restaurant-title {
    width: 100%;
    height: 20%;
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: lighter;
      color: $color3;
      font-size: 1.5em;
      margin: 0;
    }
  }
  #links-container {
    height: 80%;
    width: 100%;
  ul {
    // background-color: pink;
    padding: 50px 0px 0px 0px;
    margin: 0;
    li {
      list-style: none;
      // background-color: red;
      margin: 0px auto 20px;
      text-align: center;
      width: 50%;
      font-size: 1.5em;
      color: $color3;
      text-decoration: none;
    }
    li:hover {
      cursor: pointer;
      color: $color5;
    }
  }
  }
}
#container2 {
 width: 80%;
 height: 100%;
}
