@import "../../styles/colors.scss";

.closedcheck-card {
  height: 90%;
  width: 90%;
  -webkit-box-shadow: 0px 10px 37px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 37px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 37px 5px rgba(0,0,0,0.75);
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  background: linear-gradient(0deg, $color1, $color3 50%, $color1);
}

.closed-title-table {
  width: 100%;
  height: 5%;
  text-align: center;
  margin: 0;
  font-size: 3em;
  font-weight: lighter;
  padding-top: 10px;
  color: $color5;
}

.closed-check-title {
  color: $color5;
  padding-top: 10px;
  width: 100%;
  height: 5%;
  text-align: center;
  margin: 0;
  font-size: 2em;
  font-weight: lighter;
}

.closed-ordered-items {
  width: 100%;
  height: 35%;
  margin-bottom: 40px;
}

.oitems-title {
  color: $color5;
  margin: 0 auto;
  width: 80%;
  height: 5%;
  text-align: center;
  border-bottom: 1px solid $color3;
  font-size: 1.5em;
  padding-bottom: 15px;
}

.closed-ordered-items-ul {
  width: 80%;
  height: 95%;
  margin: 0 auto;
  padding: 0;
  overflow: scroll;
  border-bottom: 1px solid $color4;
}

.closed-items-list-styles {
  list-style: none;
  color: $color6;
  width: 100%;
  margin: 20px 0px 20px 0px;
  font-size: 1.5em;
}

.tax-tip {
  height: 5%;
  width: 80%;
  margin: 0 auto;
  font-size: 1.6em;
  color: $color6;
  font-weight: 400;
}

.red {
  color: red;
}

.closed-customer-total {
  height: 5%;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 2em;
  color: $color5;
}

.exit-check-button-container {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

a.exit-button-link {
  width: 30%;
  height: 25%;
}

.exit-button {
  width: 100%;
  height: 100%;
  background-color: $color3;
  border: 0px;
  color: $color6;
  font-size: 1.5em;
}

.exit-button:hover {
  background-color: $color5;
  cursor: pointer;
  color: $color1;
}

.exit-button:focus {
  outline: none;
}

.closed-voided-item {
  display: inline-block;
  float: right;
  margin: 0;
}

@media screen and (max-width: 1300px) {
  .closed-title-table {
    font-size: 2.5em;
  }

  .closed-check-title {
    font-size: 1.5em;
  }

  .oitems-title {
    font-size: 1.2em;
  }

  .closed-items-list-styles {
    font-size: 1.2em;
  }

  .tax-tip {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 900px) {
  .oitems-title {
    font-size: 1em;
  }

  a.exit-button-link {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .closed-title-table {
    font-size: 2.2em;
  }

  .closed-check-title {
    font-size: 1.2em;
  }

  .oitems-title {
    font-size: 1em;
  }

  .closed-items-list-styles {
    font-size: 0.8em;
  }

  .tax-tip {
    font-size: 1em;
  }

  a.exit-button-link {
    width: 50%;
  }
}
